
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>主页</title>
<meta name="viewport"
	content="width=divice-width,intital-scale=1,maximum-scale=1,user-scalable=no"></meta>
<meta charset="utf-8"></meta>
<!-- <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>
	<link th:href="@{css/.css}" rel="stylesheet"></link> -->
<link href="../css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"
	rel="stylesheet"></link>
<link href="../css/bootstrap-table.css"
	th:href="@{css/bootstrap-table.css}" rel="stylesheet"></link>
<link href="../css/bootstrap-editable.css"
	th:href="@{css/bootstrap-editable.css}" rel="stylesheet"></link>
<link th:href="@{css/main.css}" rel="stylesheet"></link>
<style>
	#main .page-header{width: 100%;position: absolute;}
	#main .page-header span.add{margin-right: 100px;}
	/* #records{background-color: #EEEEEE;padding-top: 15px;padding-bottom: 10px;color: #777777;} */
	#table {	width: 100%;margin: 0 auto;border: none;background-color: white;}
	#table th {text-align: center;text-align-last: center;}
	#table td {text-align: center;}
	#table tr:hover{cursor: pointer;}
	#split{height: 37px;}
	#fat{width: 100%;position: relative;}
	div.fixed-table-toolbar{padding-right: 25px;}
	div.fixed-table-toolbar .btn{color:#31B0D5;border-color:#31B0D5; }
	div.fixed-table-toolbar .btn:hover{background-color: #31B0D5;color: white;}
</style>	
</head>
<body>
	<!--头部开始-->

	<div th:replace="head"></div>
	<!--头部结束-->
	
	<div id="main" class="container">
		<div id="fat">
			<div class="page-header">
			  <h3><a href="user-management">系统管理</a><small>&nbsp;>>&nbsp;证件招领信息管理</small>
			  <span class="add pull-right"><a id="" class="btn btn-default" href="certificates-management">证件信息管理</a></span>
			  </h3>
			</div>
		</div>
		<div id="split"></div>
		<table id="table">
			
		</table>
	</div>
	<!--主要内容结束-->
	<script th:src="@{js/jquery.min.js}" src="../js/jquery.min.js"></script>
	<script th:src="@{js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
	<script th:src="@{js/bootstrap-table.js}" src="../js/bootstrap-table.js"></script>
	<script th:src="@{js/bootstrap-table-zh-CN.js}" src="../js/bootstrap-table-zh-CN.js"></script>
	<script th:src="@{js/bootstrap-editable.min.js}" src="../js/bootstrap-editable.min.js"></script>
	<script th:src="@{js/bootstrap-table-editable.js}" src="../js/bootstrap-table-editable.js"></script>
	<script type="text/javascript" th:src="@{layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{js/MyTimeUtils.js}"></script>
	<script type="text/javascript" th:src="@{js/MyEnumUtils.js}"></script>
	<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function() {
			$("#menu-9").addClass("select")
			//1.初始化Table
			var oTable = new TableInit();
			oTable.Init();
			
			
		})
		function updateCert(oData){
			 $.ajax({
				url : "manage/cert/edit.action",
				data :oData,
				method:"post",
				dataType:"json",
				success : function(result) {
					layer.msg(result.message)
				}
			})
		}
		function updateSendback(oData){
			 $.ajax({
				url : "manage/sendback/edit.action",
				data :oData,
				method:"post",
				dataType:"json",
				success : function(result) {
					layer.msg(result.message)
				}
			})
		}
		var TableInit = function() {
			var oTableInit = new Object();
			//初始化Table
			oTableInit.Init = function() {
				$('#table').bootstrapTable({
					url : 'claim/condition.action', //请求后台的URL（*）
					method : 'get', //请求方式（*）
					// toolbar : '#toolbar', //工具按钮用哪个容器
					striped : true, //是否显示行间隔色
					cache : false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
					pagination : true, //是否显示分页（*）
					sortable : false, //是否启用排序
					sortOrder : "asc", //排序方式
					queryParams : oTableInit.queryParams,//传递参数（*）
					sidePagination : "server", //分页方式：client客户端分页，server服务端分页（*）
					pageNumber : 1, //初始化加载第一页，默认第一页
					pageSize : 10, //每页的记录行数（*）
					pageList : [ 10, 25, 50, 100 ], //可供选择的每页的行数（*）
					search : false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
					strictSearch : true,
					showColumns : true, //是否显示所有的列
					showRefresh : true, //是否显示刷新按钮
					minimumCountColumns : 2, //最少允许的列数
					clickToSelect : false, //是否启用点击选中行
					/* height : 500, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度 */
					uniqueId : "ID", //每一行的唯一标识，一般为主键列
					showToggle : true, //是否显示详细视图和列表视图的切换按钮
					cardView : false, //是否显示详细视图
					detailView : false, //是否显示父子表
					columns : [/*  {
							checkbox : true
						},  */
						{
							field : "index",
							title : "行号",	//行号
							align : "center",
							edit : false,
							formatter : function(value,
									row, index) {
								return row.index = index; //返回行号  
							}
						},{
							field : 'certificate.name',
							title : '证件姓名',
							editable: {
						                    type: 'text',
						                    title: '证件姓名'
						                },
							visible:false
						},{
							field : 'certificate.number',
							title : '证件号码',
							editable: {
						                    type: 'text',
						                    title: '证件号码'
						                },
							visible:false
						},{
							field : 'certificate.type',
							title : '证件类型'/*,
							formatter : function(value,row, index) {
								return getCertificateType(value);
							}*/,editable: {
						                    type: 'select',
						                    title: '证件类型',
						                    source:[{value:"0",text:"身份证"},{value:"1",text:"学生证"},{value:"2",text:"驾驶证"},{value:"3",text:"一卡通"}]
						                },
						                visible:false
						},{
							field : 'pick.name',
							title : '捡拾者姓名'
						},{
							field : 'type',
							title : '招领类型',
							formatter : function(value,row, index) {
								return getSendBackType(value);
							}
						},{
							field : 'location.schoolName',
							title : '学校名称'
						},{
							field : 'location.location',
							title : '招领地址'
						}/*,{
							field : 'validDate',
							title : '有效时长',
							formatter : function(value,row, index) {
								return $.myTime.UnixToDate2(value);
							}
						}*/,
						{
							field : 'pickAddr',
							title : '捡拾地点',
							editable: {
						                    type: 'text',
						                    title: '捡拾地点'
						                }
						},{
							field : 'state',
							title : '招领状态',
							formatter : function(value,row, index) {
								return getSendBackState(value);
							}
						},{
							field : 'postAddr',
							title : '邮寄地址',
							editable: {
						                    type: 'text',
						                    title: '邮寄地址'
						                }
						},{
							field : 'postName',
							title : '邮寄姓名',
							editable: {
						                    type: 'text',
						                    title: '邮寄姓名'
						                }
						},{
							field : 'postTel',
							title : '邮寄电话',
							editable: {
						                    type: 'text',
						                    title: '邮寄电话'
						                }
						},{
							field : 'postNumber',
							title : '快递单号',
							editable: {
						                    type: 'text',
						                    title: '快递单号'
						                }
						},{
							field : 'money',
							title : '奖励金'
						},{
							field : 'gmtCreate',
							title : '发布时间',
							formatter : function(value,row, index) {
								return $.myTime.UnixToDate2(value);
							}
						}/*,
						{
							field : "action",
							title : "操作",
							align : "center",
							formatter : function(value,
									row, index) {
								var strHtml =  '<a href="./index.php?r=subprocess/modify&id='
										+ row.actionId
										+ '"><li class="glyphicon glyphicon-pencil"></li></a>' 
										+ '<a href="javascript:void(0);" onclick="remove('
										+ row.housingApplication.id
										+ ')" style="margin-left:5px;"><li class="glyphicon glyphicon-remove"></li></a>';
								return strHtml;
							},
							edit : false
						}*/
					],onEditableSave: function (field, row, oldValue, $el) {
						 // console.log(field + "," + row[field] + "," + oldValue + "," + $el) 
						 switch(field){
						 	case 'certificate.type':
						 		updateCert({'id':row.certificate.id,'type':row[field] })
						 		break;
						 	case 'certificate.number':
						 		updateCert({'id':row.certificate.id,'number':row[field] })
						 		break;
						 	case 'certificate.name':
						 		updateCert({'id':row.certificate.id,'name':row[field] })
						 		break;
						 	default:
						 		 var strData = "{\"id\":"+row.id+",\""+field+"\":\""+row[field]+"\"}"
						 		 var oData =  JSON.parse(strData)
						 		 updateSendback(oData)
						 }
						
					     }

					});
				};

				//得到查询的参数
				oTableInit.queryParams = function(params) {
					var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
						rows: params.limit, 			//页面大小
						page : params.offset/params.limit	//页号
					};
					return temp;
				};
				return oTableInit;
			};
		//]]>
	</script>
</body>
</html>